<p id="notice"><%= notice %></p>

<hr>
  <tbody>
    <% @wallpapers.each do |wallpaper| %>
      
        <p><h3><%= wallpaper.title %></h3></p>
        <div class= "conteiner "> <%= wallpaper.content %></div>
        <h5>Author: <%= wallpaper.user.email %></h5>
        <% if user_signed_in? %>
        <p>
        <%= link_to 'Show', wallpaper %>
        <%= link_to 'Edit', edit_wallpaper_path(wallpaper) %>
        <%= link_to 'Destroy', wallpaper, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Wallpaper', new_wallpaper_path %>
<hr>