<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Wallpaper:</strong></h2>	
  <%= image_tag @wallpaper.avatar.url %>
</p>


<p>
  <strong>Title:</strong>
  <%= @wallpaper.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @wallpaper.user.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wallpaper.content %>
</p>
<br>
<h2><%= @wallpaper.comments.count %></h2>
    <%= render @wallpaper.comments %>
    <h3>Add Comment: </h3>
    <%= render 'comments/form' %>
<br>

<%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %> |
<%= link_to 'Back', wallpapers_path %>
