<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wallpaper.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @wallpaper.user.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wallpaper.content %>
</p>



<%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %> |
<%= link_to 'Back', wallpapers_path %>
